{% extends "personal/header.html" %}
{% block content %}
<center>
	<h2>Welcome!</h2>
	<p>I am a sophomore studying Computer Science at Harvard University. Designing things is my passion, and I truly envision myself working with an agile team to hone my skill set. I have always been fascinated by technological development; however, my interests also branch out to acting and psychology. I seek to apply the technical skills I gain at Harvard to pursue my passions. </p>
	<img width="300" height="230" src="https://scontent-iad3-1.xx.fbcdn.net/hphotos-xpt1/v/t1.0-9/11115789_10204457950991369_8253605139894223703_n.jpg?oh=ae0e48d56c6d377d9865a4191eb4328e&oe=57AA7C0A" alt="some_text">
</center>
{% endblock %}